{% extends 'base-other-page.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/auth-kpi.css' %}">
{% endblock %}
{% block content %}
<!-- login page start-->
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo" href="{% url 'accounts:login' %}">
                            <img class="img-fluid" src="{% static 'assets/images/logo-tamer2.png' %}" alt="Tamer">
                        </a>
                    </div>
                    <div class="login-main">
                        <!-- رسائل التنبيه -->
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!-- نهاية رسائل التنبيه -->
                        <form class="theme-form" method="post">
                            {% csrf_token %}
                            <h3>Sign in to account</h3>
                            <p>Enter your email & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label">Username</label>
                                {{form.username|add_class:'form-control'}}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    {{form.password|add_class:'form-control'}}
                                    <div class="show-hide"><span class="toggle-password">Show</span></div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Login</button>
                                </div>
                            </div>
                            <p class="mt-4 mb-0">
                                Don't have account?
                                <a class="ms-2 " href="{% url 'accounts:register' %}">Create Account</a>
                            </p>

                            <p class="mt-2 mb-0">
                                Can you reset your password?
                                <a class="ms-2" href="{% url 'password_reset' %}">Reset Password?</a>
                            </p>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

